@media (max-width: 768px) {
    h1 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .container {
        padding: 10px;
        max-width: 100%;
    }

    .selected-words, .def-block, .tale {
        font-size: 14px;
    }

    .select-button, .word-button, .gen-tale-button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text */
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.selected-words {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.select-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.select-button:hover {
    background-color: #0056b3;
}

.word-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #02a64e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.word-button:hover {
    background-color: #028c42;
}

.def-block {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #2a2a2a;
    border-radius: 4px;
    color: #d1d1d1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.gen-tale-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tale {
    margin-top: 20px;
    border: 2px solid #eaeaea; 
    padding: 20px; 
    font-size: 14px;
    border-radius: 10px; 
    font-family: Arial, sans-serif; 
    line-height: 160%;
    background-color: #2a2a2a;
    border-radius: 4px;
    color: #d1d1d1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.audio-button {
    display: block;
    margin: 2px;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
